<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="ClientId" value="395ce947-f5bd-46e2-94f0-be553c13e243" />
    <add key="ClientSecret" value="hbrP43vh+zy5kIag/+yqCbYMgSaT0gG0TwqVqfT7oLo=" />
    <add key="Realm" value="590d2424-119f-4525-bedb-79030ddb0544" />
    <add key="SiteURL" value="https://devarm.sharepoint.com/sites/CommercialDev1/commercial/" />
    <add key="SourceFile" value="https://devarm.sharepoint.com/sites/CommercialDev1/commercial/" />
    <add key="DestinationFile" value="https://devarm.sharepoint.com/sites/CommercialDev1/commercial/" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>