<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="User" value="arun.kumar@vindhya.co.uk" />
    <add key="Password" value="Dud37110" />
    <add key="SiteURL" value="https://devarm.sharepoint.com/sites/Contracts-QA/commercial" />
    <add key="DocLibName" value="Contract Related Documents" />
  </appSettings>
</configuration>